*:focus {
    outline: none;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
}

footer p {
    margin: 0;
    text-align: center;
}

header {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 100%;
}

header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

nav {
    padding: 15px 0;
}

nav a {
    margin-left: 25px;
    font-size: 1.2rem;
}

nav a:link, nav a:visited, nav a:active {
    color: blue;
}

.container {
    width: 800px;
    margin: 215px auto 0 auto;
   /* border: 1px solid #ccc; */
}

#restaurantimage {
    display: block;
    margin: 0 auto 20px auto;
}

#restaurantdesc {
    width: 380px;
    height: 350px;
    margin: 0 auto;
    border: 1px solid #aaa;
    padding: 0 10px;
}

input[type="submit"] {
    font-size: 1.3rem;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

form {
    display: block;
    margin: 0 auto;
    width: 800px;
}

#additionalinfo, #additionalinfolabel {
    vertical-align: top;
}

#additionalinfo {
    padding: 10px;
}

label, input[type="text"], input[type="email"], input[type="tel"], select {
    font-size: 1.3rem;
}

input[type=radio], input[type=checkbox] {
    border: 0;
}

label:not(:last-child) {
    display: inline-block;
    width: 350px;
    text-align: right;
    margin-right: 20px;
}