*:focus {
    outline: none;
}

* {
    user-select: none;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
}

footer p {
    margin: 0;
    text-align: center;
}

header {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 100%;
}

header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: #330099;
    letter-spacing: 5px;
}

nav {
    padding: 15px 0;
}

nav a {
    margin-left: 30px;
    font-size: 1.2rem;
}

nav a:link,
nav a:visited,
nav a:active {
    font-weight: bold;
    color: #3300FF;
}

a {
    letter-spacing: 2px;
    text-decoration: none;
}

a:hover {
    border-bottom: 4px solid #330000;
}

.container {
    width: 800px;
    margin: 215px auto 0 auto;
}

.menucontainer {
    width: 60%;
    margin: 215px auto 0 auto;
}

#restaurantimage {
    display: block;
    margin: 0 auto 20px auto;
}

#restaurantdesc {
    width: 380px;
    height: 350px;
    margin: 0 auto;
    border: 1px solid #aaa;
    padding: 0 10px;
}

input[type="submit"] {
    font-size: 1.3rem;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #aaa;
    color: white;
}

form {
    display: block;
    margin: 0 auto;
    width: 800px;
}

#additionalinfo,
#additionalinfolabel {
    vertical-align: top;
}

#additionalinfo {
    padding: 10px;
    border-radius: 5px;
    resize: none;
}

label,
textarea,
input[type="submit"] {
    margin-top: 20px;
}

label,
input[type="text"],
input[type="email"],
input[type="tel"],
select {
    font-size: 1.3rem;
    width: 305px;
    padding: 5px;
    border-radius: 5px;
}

select {
    width: 320px;
}

label:not(:last-child) {
    display: inline-block;
    width: 350px;
    text-align: right;
    margin-right: 20px;
}

#havevisitednolabel,
#havevisitedyeslabel,
#mondaylabel,
#tuesdaylabel,
#wednesdaylabel,
#thursdaylabel,
#fridaylabel {
    width: 0px;
    font-size: 1.15rem;
    padding-left: 5px;
}

#havevisitednolabel,
#havevisitedyeslabel {
    margin-right: 35px;
}

#mondaylabel,
#tuesdaylabel,
#wednesdaylabel,
#thursdaylabel,
#fridaylabel {
    margin-right: 50px;
}

.menuitem {
    text-align: center;
    width: 350px;
    margin-right: 20px;
    margin-bottom: 30px;
    display: inline-block;
    font-weight: bold;
}

.price {
    font-size: 1.3rem;
    color: #CC0000;
}

.menutitle {
    color: #CC0000;
}
